@media (max-width: 1200px) {
  .container .content .useraction {
    width: 60%;
  }
  .container .content .suggestions {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .container .content .useraction {
    width: 50%;
  }
  .container .content .suggestions {
    width: 50%;
  }
  .container .content .suggestions .title .name {
    display: none;
  }
  .container .content .suggestions .title .builtin {
    text-align: right;
  }
}

@media (max-width: 400px) {
  .container .content .suggestions .toolbar {
    display: none;
  }
  .container .content .suggestions > .title {
    text-indent: 12px;
    background-image: none !important;
  }
  .container .content .suggestions .suggestion-box {
    height: calc(100% - 44px);
    min-height: calc(100% - 44px);
  }
}